{% extends "base.html" %} 

    {% block content %} 

    <aside>
        <h2>Add book to library</h2>
        <form action="/home" method="POST">
            <label for="title">Title</label>
            <input type="text" name="title" id="title">
            <label for="author">Author</label>
            <input type="text" name="author" id="author">
            <label for="genre">Genre</label>
            <input type="text" name="genre" id="genre">
            <input type="submit" value="Add Book">
        </form>
    </aside>
    
    <h2>Book List</h2>

    {% for book in book_list %} 
    <h3><a href="/home/{{book_list.index(book)}}"> {{book.title}}</a>, {{book.author}}</h3>

        <form class="form-inline" action="/home/delete/{{ book_list.index(book) }}" methods="POST">
            <input type="submit" value="Delete" id="Delete">
        </form>

    <div>

        {% if book.checked_out %} 
        <span>Checked out: &#9989;</span>

        {% endif %} 

        <form class="form-inline" action="/home/books/ {{ book_list.index(book) }}" methods="POST">
            <input type="radio" name="checkout" value="checkout" onclick="this.form.submit()"> Change check-out status 
        </form>

    </div>

    {% endfor %} 





    {% endblock %} 